<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://talexck.top" target="_blank"
    >
      TalexCK
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://chat.talexck.top" target="_blank"
    >
      Chat Space
    </a>
  </p>
</footer>
